<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Fido2020</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>FidoNet2020</h1>
        <ul class="user-toolbar">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <!-- TODO: Add logout button. -->
        </ul>
    </header>
    <main>
        <!-- TODO: Add message form. -->
        <ul class="messages">
            <li class="message">No messages...</li>
        </ul>
    </main>
    <footer>
        &copy; 2020
    </footer>
</body>
</html>
