<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Fido2020, Registration</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>FidoNet2020</h1>
    </header>
    <main>
        <!-- TODO: Add error banner -->
        <form action="/register" method="POST">
            <label>
                Login:<br>
                <input type="text" name="login">
            </label><br>
            <label>
                Password:<br>
                <input type="password" name="password">
            </label><br>
            <label>
                Repeat Password:<br>
                <input type="password" name="password-repeat">
            </label><br>
            <input type="submit" value="Register">
        </form>
    </main>
    <footer>
        &copy; 2020
    </footer>
    <!-- TODO: Add scripts to check for correctly repeated passwords -->
</body>
</html>
